.flexContainer {
  display: flex;
  justify-content: center;
}

.mainSubHeaderContainer {
  height: 0;
  width: 70%;
  background-color: var(--header-color);
  position: fixed;
  margin-top: 140px;
  transition: height 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.mainSubHeaderContainer div {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.open {
  height: 300px;
  transition: height 0.3s ease-in-out;
}

.open div {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.3s;
}
