.mainPageTitleContainer {
  width: calc(100% + 16px);
  height: 170px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 150px;
  background-color: coral;
  display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
}
