.hiderContainer {
  height: 142px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: #f0f0f0;
}

.hiderContainer2 {
  height: 115px;
  width: 100%;
  left: 0;
  top: 140px;
  position: fixed;
  z-index: -3;
  box-shadow: 0px 10px 50px 50px var(--light-theme-background-color);
  background-color: var(--light-theme-background-color);
}

.mainContentContainer {
  min-height: 200vh;
  margin: 370px 50px 450px 50px;
  position: relative;
  z-index: -5;
  top: 400px
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  -webkit-filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
